@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('Roboto-CondensedItalic-webfont.eot');
    src: url('Roboto-CondensedItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('Roboto-CondensedItalic-webfont.svg#RobotoCondensedItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('Roboto-LightItalic-webfont.eot');
    src: url('Roboto-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Roboto-LightItalic-webfont.woff') format('woff'),
         url('Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;

}
